body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    margin: 0;
}

.side-board{
    background-color: #3b5998;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.side-board div{
    margin-top: 10px;
}
.logo{
    background-color: orange;
    display: flex;
    gap: 5px;
}

.logo img{
    flex-grow: 1;
}

.logo h2{
    align-self: center;
    margin-right: 5px;
}

.main-nav{
    background-color: pink;
}

ul li{
    list-style: none;
}

.nav-link{
    display: flex;
}

.nav-link img{
    
}

.settings-nav{
    background-color: indigo;
}

.header{
    background-color: green;
}

.body{
    background-color: blue;
}